*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.body{
    background-image: url(city.jpg);
     width: 100%;
     height: 100vh;
     background-repeat: repeat-x;
     
}
marquee img {
    margin-top: 340px;
}
.img {
    margin-top: -450px;
}
